<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="APP_NAME" value="attendance-management" />
	<property name="CONSOLE_APPENDER_LEVEL" value="INFO" />


	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		  <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	        <level>${CONSOLE_APPENDER_LEVEL}</level>
	       </filter>
	       <layout class="ch.qos.logback.classic.PatternLayout">
	           <Pattern>
	               %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
	           </Pattern>
	       </layout>
	  </appender>

	
	
	<!-- Levels TRACE, DEBUG, INFO, WARN and ERROR -->
    
    <root level="INFO">
    	<appender-ref ref="CONSOLE"/>
	</root>
    
</configuration>

